KROLL_DEALER_ACCOUNT=your_dealer_account_number
KROLL_USER_ID=your_user_id
KROLL_PASSWORD=your_password
KROLL_CONFIRM_EMAIL=matt@toddssportinggoods.com
KROLL_CONFIRM_NAME=Todd's Sporting Goods
MARKUP_PERCENT=30
CRON_SECRET=generate_a_random_string_here
